@import '@approck/styles/settings/_colors.scss';
@import '@approck/styles/generic/_mixins.scss';

.project_detail {
  width: 100%;
  height: 100%;
  h1.v-heading {
    margin-top: 309px;
    color: $gray-color-7;
    text-align: center;

    @include tablet-md {
      margin-top: 385px;
    }

    @include desktop-xl {
      margin-top: 247px;
    }
  }
}
